##############################################
# Oregon Core Auth Server configuration file #
##############################################

[authserver]
ConfVersion=2015070961

# Note to devs, line breaks should be at column 80
###############################################################################
# REALMD SETTINGS
#
#    LoginDatabaseInfo
#        Database connection settings for the realm server.
#        Default:
#                    hostname;port;username;password;database
#                    .;somenumber;username;password;database
#                     - use named pipes in Windows
#                    Named pipes: mySQL required adding
#                        "enable-named-pipe" to [mysqld] section my.ini
#                    .;/path/to/unix_socket;username;password;database
#                     - use Unix sockets in Unix/Linux
#
#    LogsDir
#        Logs directory setting.
#        Important: Logs dir must exists, or all logs need to be disabled
#        Default: "" - no log directory prefix, if used log names isn't
#         absolute path then logs will be stored in current directory.
#
#    MaxPingTime
#         Settings for maximum database-ping interval (minutes between pings)
#
#    RealmServerPort
#         Default RealmServerPort
#
#    BindIP
#         Bind Realm Server to IP/hostname
#
#    PidFile
#        Realmd daemon PID file
#        Default: ""             - do not create PID file
#                 "./realmd.pid" - create PID file (recommended name)
#
#    LogMask
##        Server console/file level of logging
#        This is a bitmask. Possible values:
#        STRING = 1, BASIC = 2, DETAIL = 4, DEBUG = 8,
#        ERROR = 16, ERROR_DB = 32, SQL = 64, ARENA = 128,
#        WARDEN = 256, CHAT = 512, COMMAND = 1024,
#        CHAR = 2048, REMOTE = 4096, MAP = 8192, VMAP = 16384
#        MMAP = 32768, NETWORK = 65536
#        Example: I want to see basic output and errors:
#                 STRING + BASIC + ERROR + ERROR_DB =
#                 1      + 2     + 16    + 32       = 51 
#        Default: 51
#
#    LogFile
#        Logfile name, here will go all messages you don't have specific log for.
#        Default: "realmd.log"
#                 "" - Empty name disable creating log file
#
#    LogTimestamp
#        Logfile with timestamp of server start in name
#         in form Logname_YYYY-MM-DD_HH-MM-SS.Ext for Logname.Ext
#        Default: 0 - no timestamp in name
#                 1 - add timestamp in name
#
#    LogColors
#        Color for messages (format "normal basic detail debug")
#        Default: "0 6 4 3 1 1 2 7 5 0 4 0 1 3 2 4 0" - default color scheme
#        Colors: 0  - BLACK (no color, skip)
#                1  - RED
#                2  - GREEN
#                3  - BROWN
#                4  - BLUE
#                5  - MAGENTA
#                6  - CYAN
#                7  - GREY
#                8  - YELLOW
#                9  - LRED
#                10 - LGREEN
#                11 - LBLUE
#                12 - LMAGENTA
#                13 - LCYAN
#                14 - WHITE
#        Example: "0 6 4 3 1 1 2 7 5 0 4 0 1 3 2 4 0"
#
#    DBLogMask
#        Log level of DB logging.
#        This is a bitmask. See LogMask above for details.
#        Default: 0 - disabled
#
#    UseProcessors
#        Processors mask for multi-processor system (Used only in Windows)
#        Default: 0 (selected by OS)
#                 number (bitmask value of selected processors)
#
#    ProcessPriority
#        Process proirity setting (Used only at Windows)
#        Default: 1 (HIGH)
#                 0 (Normal)
#
#    RealmsStateUpdateDelay
#        Realm list Update up delay
#         (updated at realm list request if delay expired).
#        Default: 20
#                 0  (Disabled)
#
#    WrongPass.MaxCount
#        Number of login attemps with wrong password
#         before the account or IP is banned
#        Default: 0  (Never ban)
#
#    WrongPass.BanTime
#        Duration of the ban in seconds (0 means permanent ban)
#        Default: 600
#
#    WrongPass.BanType
#        Ban the IP or account on which login is attempted
#        Default: 0 (Ban IP)
#                 1 (Ban Account)
#
###############################################################################

LoginDatabaseInfo = "127.0.0.1;3306;oregon;oregon;realmd"
LogsDir = ""
MaxPingTime = 30
RealmServerPort = 3724
BindIP = "0.0.0.0"
PidFile = ""
LogMask = 51
LogFile = "realmd.log"
LogTimestamp = 0
LogColors = "0 6 4 3 1 1 2 7 5 0 4 0 1 3 2 4 0"
EnableLogDB = 0
DBLogMask = 0
UseProcessors = 0
ProcessPriority = 1
RealmsStateUpdateDelay = 20
WrongPass.MaxCount = 0
WrongPass.BanTime = 600
WrongPass.BanType = 0
